<main>
    <h1>Liste des livres de et avec Stephen King</h1>
    <div>
        <app-button buttonText="Par ordre alphabétique" (click)="toggleFilter()"></app-button>
    </div>
    <ul>
        <li *ngFor="let book of bookList | bookFilter:selectedFilter">
            <h3>{{ book.title }}</h3>
            <img src="{{ (book.covers && book.covers[0] ? book.covers[0] : -1) | coverDisplay }}" alt="{{ book.title }}">
            <app-button buttonText="Voir les détails" (click)="viewBookDetails(book.key)"></app-button>
        </li>
    </ul>
</main>

  