ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin:0;
    padding: 20px 0;
}


li {
    list-style-type: none;
    border: 1px solid #efefef; /* Bordure légère autour de chaque livre */
    padding: 10px; /* Espacement à l'intérieur de chaque élément */
    background-color: #f9f9f9;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li img {
    padding-bottom: 15px;
}