<main *ngIf="bookDetails">
    <h1>{{bookDetails.title}}</h1>
    <p *ngIf="bookDetails.first_publish_date">Date de publication : {{ bookDetails.first_publish_date }}</p>
    <div *ngIf="bookDetails.covers && bookDetails.covers[0] !== -1">
        <ul class="covers">
            <li *ngFor="let cover of bookDetails.covers">
                <img src="https://covers.openlibrary.org/b/id/{{ cover }}-M.jpg" alt="">
            </li>
        </ul>
    </div>
    <p *ngIf="bookDetails.description">
        Description : {{ bookDetails.description | formatDescription }}
    </p>
    <p *ngIf="bookDetails.revision">
        Nombre de révisions : {{ bookDetails.revision}}
    </p>
    <div *ngIf="bookDetails.subjects">
        <p>Sujets :</p>
        <ul>
            <li *ngFor="let subject of bookDetails.subjects">
                {{subject}}
            </li>
        </ul>
    </div>
</main>
