
.covers {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    box-sizing: border-box;
    gap: 10px;
}

.covers li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.covers img {
    width: 100%; 
    height: auto;
}

p {
    padding-top: 20px;
}